<!DOCTYPE html>
<html>
<head>
  <title>PostIt homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
<header>
        <h1 class="site-blue">Post<span class="site-orange">It</span></h1>
       
        
      </header>
    <div class="mycontainer">
    
      <div class="container">
        <div class="row">
          <div class="col-md-3 board-messages curve">
              <p class="text-center">Your Groups</p>
            </div>
          <div class="col-md-6">
              <div class="section curve">
                <form class="form">
                  <textarea class="form-control" cols="5">
                    
                  </textarea>
                  <button class="btn btn-info">Post</button>
                </form>

                <div class="user-post curve">
                <div>
                  <div class="pull-left">
                    <p><img src="../images/gbenga.jpg" class="profile-pic-min curve"></p>
                  </div>
                  
                  <div class="">
                    <span><a href="">gbenga_ps </a><span> 2:45 PM</span></span>
                    <p class="post-text ">
                      Wow!!! Your article just saved me from trouble. I’m at a bootcamp where testing an API with mocha and chai is a requirement. This article did the magic. Thanks for writing.
                    </p>
                  </div>
                  </div>
                  
                  
                </div>
              </div>
          </div>
          <div class="col-md-3 board-messages curve">
              <p class="text-center">Group Members</p>
          </div>
        </div>  
      
      </div> 
      
    </div>
      
  </div>
  </div>
  <footer class="text-center">
        &copy; PostIt inc. All rights reserved.
      </footer>
</body>
</html>