<!-- <!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
  
</head>
<body> -->
  <header>
        <h1 class="site-blue">Post<span class="site-orange">It</span></h1>
        <div class="login-signup">
          
        </div>
        
      </header>
  <div class="mycontainer">
    <div class="container">
    <div class="col-md-3">
      
    </div>
    <div class="section curve col-md-6">
    <p class="heading bold text-center"> Create Group</p>
      <form class="form" method="post">
       <div class="form-group">
       <label>Give your group a name</label>
        <input type="text" name="email" class="form-control" placeholder="Group name"> 
       </div>
        <div class="form-group">
          <label>Add people to your group</label>
          <input type="text" name="password" class="form-control" placeholder="Enter username or email address">  
        </div>
        <div class="form-group text-center">
          <button class="btn btn-success">Create Group</button>  
        </div>
        

       </form>

    </div>
       
     
      
  </div>  
  </div>
  
  <footer class="text-center">
        &copy; PostIt inc. All rights reserved.
      </footer>
</body>
</html>