<!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/material.css">
  <script src="../css/material.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
  
</head>
<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">PostIt</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
    <!-- Your content goes here -->
       <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Button
        </button>
    </div>
  </main>
</div>
  <div class="container-full">
  		<header>
      <div class="login-signup pull-right">
         

          <a class='btn btn-info' href='login.html' >Login</a>
          <a class='btn btn-warning' href="signup.html">Sign Up</a> 
        </div>
  			<h1 class="site-blue">Post<span class="site-orange">It</span></h1>
  			
  			<p style="clear:both">&nbsp;</p>
  		</header>
      <div class="container">
        <div class="jumbotron">
        <h1 class="site-blue">Welcome to Post<span class="site-orange">It</span></h1>
        <h2>Your one stop group messaging platform</h2>
        <p>At PostIt, we help you pass messages across to multiple individuals as quickly as possible.</p>
        <p><a href="signup.html" class="btn btn-info pull-right">Get started</a></p>
      </div>  
      </div>
  		
  		<footer class="text-center">
  			&copy; PostIt inc. All rights reserved.
  		</footer>
  </div>
</body>
</html>