
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PostIt-Gbenga</title>
  <link rel="shortcut icon" href="../images/andela.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link rel="stylesheet" href="../css/main.css" />
  
          
</head>
<body>
    <nav>
        <div class="nav-wrapper light-blue darken-4">
        <div class="row">
          <div class="col s2 offset-s1 hide-on-med-and-down">
          <a href="#!" ="left brand-logo">Postit</a>
          </div>
          <div class="col s2 offset-s2 hide-on-med-and-up">
            <a href="#!" class="center brand-logo">Postit</a>
          </div>
          <div class="col s2 push-s7" >
          <ul class="hide-on-med-and-down">
            <li><a href="login.html" > Login </a> </li>
            <li><a href="signup.html" > Signup </a> </li>
          </ul>
          </div>
        </div>
        </div>
      </nav>
	<div class="container height" >
    <div class="row" > 
        <div class="component-container s8 offset-s1 m6 z-depth-2">
            <h1 class="center grey-text"> Messaging... </h1>
            <p class="center grey-text">always better when done groups.</p>
            <a href="signup.html" class=" curve center btn light-blue darken-4 col s8 offset-s2 m4 offset-m4"> Get Started </a>
            <p class="clearfix"> </p>
        </div>
    </div>
  </div>
  <!-- <footer>
      <div class="footer-copyright light-blue darken-4">
        
        <div class="container">
        © 2014 Andela
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer> -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>