<!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
      <script src="/node_modules/material-design-lite/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" type="text/css" href="../css/main.css">
  
</head>
<body>

<!-- Number badge on icon -->
<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>

  <div class="container-full">
  		<header>
      <div class="login-signup pull-right">
         

          <a class='btn btn-info' href='login.html' >Login</a>
          <a class='btn btn-warning' href="signup.html">Sign Up</a> 
        </div>
  			<h1 class="site-blue">Post<span class="site-orange">It</span></h1>
  			
  			<p style="clear:both">&nbsp;</p>
  		</header>
      <div class="container">
        <div class="jumbotron">
        <h1 class="site-blue">Welcome to Post<span class="site-orange">It</span></h1>
        <h2>Your one stop group messaging platform</h2>
        <p>At PostIt, we help you pass messages across to multiple individuals as quickly as possible.</p>
        <p><a href="signup.html" class="btn btn-info pull-right">Get started</a></p>
      </div>  
      </div>
  		
  		<footer class="text-center">
  			&copy; PostIt inc. All rights reserved.
  		</footer>
  </div>
</body>
</html>