
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PostIt-Gbenga</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link rel="stylesheet" href="../css/main.css" />
  
          
</head>
<body>
    <nav>
        <div class="nav-wrapper light-blue darken-4">
        <div class="row">
          <div class="col s2 offset-s1 hide-on-med-and-down">
          <a href="#!" ="left brand-logo">Postit</a>
          </div>
          <div class="col s2 offset-s2 hide-on-med-and-up">
            <a href="#!" class="center brand-logo">Postit</a>
          </div>
          <div class="col s2 push-s7" >
          <ul class="hide-on-med-and-down">
            <li><a href="login.html" > Login </a> </li>
            <li><a href="signup.html" > Signup </a> </li>
          </ul>
          </div>
        </div>
        </div>
      </nav>
	<div class="container" >
    <div class="row" > 
        <<div class="col s10 offset-s1 l6 offset-l3 component-container" >
            <form method="POST" onSubmit={props.handleSubmit.bind(this)} >
              <div class="input-field">
                <input type="text" name="username" id="username" onChange={props.handleChange.bind(this)}/>
                <label htmlFor="username"> Username</label>
              </div> 
              <div class="input-field">
                <input type="password" name="password" id="password" onChange={props.handleChange.bind(this)}/>
                <label htmlFor="password">Password</label>
              </div>
              <p class="row"> <input type="submit" value="Login" class="btn blue col s8 offset-s2" />
              </p>
              
              <p class="center">
                <span> Don't have an account?</span> 
                <a href="signup.html" class="waves-effect"> Signup </a>
              </p>
              <p class="center">
                <a href="recover.html" class="waves-effect">Forgot password</a>
              </p>
            </form>
            </div>
    </div>
  </div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>