<!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
      <header>
        <h1 class="site-blue">Post<span class="site-orange">It</span></h1>
        
      </header>
  <div class="mycontainer">
  <div class="container">
  <div class="row">
  		<div class="col-md-4">
        
      </div>
  		<div class="col-md-5 section curve">
      <fieldset>
        <legend class="text-center">Create Post</legend>
        <form class="" method="post">  
       
       <div class="form-group">
       <textarea class="form-control">
         
       </textarea>
       
       </div>
       <div class="form-group">
          <label>Group name</label>
         <input type="text" name="" class="form-control" placeholder="Enter group name">
       </div>
       <div class="form-group">
       <label>Select priority level</label>
         <select class="form-control">
         <option value="normal">Normal</option>
         <option value="urgent">Urgent</option>
         <option value="critical">Critical</option>
       </select>
       </div>
       <div class="">
          <button class="btn btn-info">Post</button>
       </div>

       </form>
      </fieldset>
  		
  		</div>
      <div class="col-md-3">
        
      </div>
  </div>
  </div>
  </div>
      <footer >
        <p class="text-center align-middle">&copy; PostIt inc. All rights reserved.</p>
      </footer>
</body>
</html>