
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PostIt-Gbenga</title>
  <link rel="shortcut icon" href="../images/andela.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link rel="stylesheet" href="../css/main.css" />
  
          
</head>
<body>
    <nav>
        <div class="nav-wrapper light-blue darken-4">
        <div class="row">
          <div class="col s2 offset-s1 hide-on-med-and-down">
          <h5 class="center brand-logo"> <span > Password Reset </span></h5>
          
          </div>
          <div class="col s2 offset-s2 hide-on-med-and-up">
            <a href="#!" class="center brand-logo">Postit</a>
          </div>
        </div>
        </div>
      </nav>
	<div class="container" >
    <div class="component-container">
    <p>Enter your email address and we would send you a link to reset your password</p>
        <div class="input-field">
            <input type="text" name="email" >
            <label for="email"> Email </label>
        </div>
        <input type="submit" value="Send" class="btn light-blue darken-4 ">
        <span> &nbsp;&nbsp;&nbsp;<a href="login.html"> login </a> instead. </span>
    </div>
    </div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>