<!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
      <header>
        <h1 class="site-blue">Post<span class="site-orange">It</span></h1>
        
      </header>
  <div class="mycontainer">
  <div class="container">
  		
  		<div>
  		 <form class="">
       <div class="form-group">
       <input type="text" name="name"  class="form-control" placeholder="Enter your full name">
       </div>
       <div class="form-group">
       <input type="email" name="email" class="form-control" placeholder="Enter your email address">
       </div>
       <div class="form-group">
       <input type="password" name="password" class="form-control" placeholder="password">
       </div>
       <div class="text-center">
          <button class="btn btn-info">Sign Up</button>
       </div>
       

       </form>
  		</div>
  		
  </div>
  </div>
      <footer class="text-center">
        &copy; PostIt inc. All rights reserved.
      </footer>
</body>
</html>