<!DOCTYPE html>
<html>
<head>
	<title>PostIt homepage</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
  <div class="container">
  		<header>
  			<h1 class="site-blue">Post<span class="site-orange">It</span></h1>
  			<div class="login-signup">
  				<a class='btn btn-info' href='facebook.com' >Login</a>
  				<a class='btn btn-warning' href="#">Sign Up</a>	
  			</div>
  			
  		</header>
  		<div>
  		 <form class="form-control">
        <input type="text" name="name" placeholder="Enter your full name">
        <input type="email" name="email" placeholder="Enter your email address">
        <input type="password" name="password" placeholder="password">
        <input type="submit" class='btn-info' value="Signup">

       </form>
  		</div>
  		<footer>
  			&copy; PostIt inc. All rights reserved.
  		</footer>
  </div>
</body>
</html>