$blue:#039be5;
$orange:#fd8966;
$grey:#999;

body{
	color:#fff;
	padding: 0;
	margin: 0;
	height: 100%;
	background: url('../images/postit-bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}
// materialize css footer fix
  main {
    flex: 1 0 auto;
  }
// materialize css footer fix 
.mycontainer{
	background-color:$blue; 
	padding: 0.5%;
}
.component-container{
	color: $grey;
	padding: 30px;
	box-shadow: 5	px 5px 5px #5c5c5c;
	background: #fff;
	border-radius: 5px;
}
nav{
	padding: 0 15px;
	margin:0 !important;
}
.dashboard-header{
	border-bottom: 1px solid $grey;
	height: 50px;
	width: 100%;
	padding-top: 15px;

}
.dashboard-header a {
	color: $grey;
	
}
.bold {
	font-weight: bold;
}
 // Customize materialize input field styles
.input-field input:focus + label{
	color: $blue !important;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid $blue;
	box-shadow: 0 1px 0 0 $blue;
}
.dropdown-content li>span{
	color: $blue;
}
.message-form button {
	border: none;
	background-color:none;
}
.message-input-field {
	width: 60%;
	border: 1px solid #eee;
}
.message-priority-field {
	width:30%;
}
.scrollable-component{
	height:300px;
	overflow-y: scroll;
}
.user-side-nav{
	height: 750px;
	background-color:#eee;
}
.group-messages {
	height: 500px;
	overflow: scroll;
	padding: 20px;
}
footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:5%;
   width:100%;
   padding:2px 15px ;
   border-top: 1px solid $grey;
}
#single-message {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin: 20px auto;
}
.group-members{
	float: right;
	font-size: 10px;
	background-color:$blue;
	border-radius: 7px;
	color: #fff;
	padding: 5px;
	margin-right: 10px; 
}
.big {
	font-size: 2.0em;
}
.centralized-div {
	position: absolute;
  top: 30%;
	height: 100px;
	width: 100%;
  // margin-top: -50px;
}
