$navy-blue:#045373;
$orange:#fd8966;
$grey:#eee;

body{
	padding: 0;
	margin: 0;
	background-color: #eee;
	color:#fff;
}

.mycontainer{
	background-color:$navy-blue; 
	padding: 0.5%;
}
header{
		border-bottom: 1px solid $grey;
		padding:0 15px ;
}

footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:5%;
   width:100%;
   padding:2px 15px ;
   border-top: 1px solid $grey;
}
a{
	text-decoration: none;
}
.image-min{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	position: relative;
}
.section{
	padding: 5px;
	margin-bottom: 2%;
	background-color:$grey;
}
.curve{
	border-radius: 5px;
}
.user-post{
	padding: 5px;
	margin:5px 0;
}
.user-post:hover{
	background-color: #fff;
}
.heading{
	border-bottom: 1px solid darken($grey,5%);
}
.bold{
	font-weight: bolder;
}
.block{
	@extend .curve;
	display: block;
	margin-bottom: 2%;
	padding: 6px;
	&:hover{
		text-decoration:none;
		background-color: #fff;
	}
}


